[submodule "ehv-meetup-slides-20160920"]
	path = ehv-meetup-slides-20160920
	url = https://github.com/npalm/ehv-meetup-slides-20160920.git
[submodule "ehv-meetup-ci"]
	path = ehv-meetup-ci
	url = https://github.com/npalm/ehv-meetup-ci.git
